PORT=5001
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-host>/AuraCinema?retryWrites=true&w=majority
VNP_TMN_CODE=<sandbox_tmn_code>
VNP_HASH_SECRET=<sandbox_hash_secret>
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:5173/payment/vnpay-return
SEPAY_WEBHOOK_SECRET=your_sepay_webhook_secret
