PORT=5001
NODE_ENV=development
# Option 1: local MongoDB
MONGODB_URI=mongodb://localhost:27017/nodejs

# Option 2: MongoDB Atlas
# MONGODB_TARGET=atlas
# MONGODB_ATLAS_URI=mongodb+srv://<username>:<password>@<cluster-host>/AuraCinema?retryWrites=true&w=majority

# Optional if MONGODB_URI is not set: local or atlas
MONGODB_TARGET=local
JWT_SECRET=7d53ec5d94755ca782cb73329f75fbc0c91d70cf4c486a2d7ef1b0fd8d8d148c
TICKET_QR_ENCRYPTION_SECRET=0ddc228119519a9ec8ce6feb8c735fe56ed8c2085ba8ba42e2f164b5f0587bb2
TICKET_CHECKIN_BEFORE_MINUTES=30
TICKET_CHECKIN_AFTER_MINUTES=30
TICKET_QR_RATE_LIMIT_WINDOW_MS=60000
TICKET_QR_RATE_LIMIT_MAX=60
JSON_BODY_LIMIT=1mb
FRONTEND_URL=http://localhost:5173
CLIENT_URL=http://localhost:5173
ADMIN_URL=http://localhost:5173
CORS_ORIGINS=http://localhost:5173
VNP_TMN_CODE=O50374GE
VNP_HASH_SECRET=ZLLWOIKUUPRQISCSQRYQSYUSURQAHJMT
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:5173/payment/vnpay-return
SEPAY_WEBHOOK_SECRET=whsec_wvVOUsWGYJ8PsecYs3POkKI4O9TKbS9R
SEPAY_API_TOKEN=KUEDRAAMDCUSW7BTZZTNPLFBZHPSOL1HVHEQ0MWDYRERLQ391FWCYXVVYRVJTWAN
SEPAY_PG_ENV=production
SEPAY_PG_MERCHANT_ID=SP-LIVE-DTAB4257
SEPAY_PG_SECRET_KEY=spsk_live_aS3TS4P4juW478P8cuj4XBnRXAbhhWMC
